* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #161616;
  height: 100vh;
}

header {
  padding: 10px;
  background-color: #2c2c2c;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  z-index: 9999;
}

.notification {
  background: #2c2c2c;
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  transform: translateX(100%);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.notification.show {
  opacity: 1;
  transform: translateX(0);
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
}

.navbar button {
  background-color: transparent;
  border: none;
  font-size: inherit;
}

.content-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#add-content {
  background-color: #2c2c2c;
  border: none;
  padding: 8px;
  border-radius: 10%;
}

#add-content:hover {
  cursor: pointer;
  background-color: #da0d13;
  transform: scale(1.1);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.main-content {
  padding: 30px 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-container {
  display: flex;
  background-color: #2c2c2c;
  gap: 10px;
  border-radius: 8px;
  padding: 5px;
  flex-direction: column;
}

.sub-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-bottom: 5px;
}

.subscription {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.edit-button {
  background-color: #161616;

  border: none;
  border-radius: 15px;
  padding: 10px;
}

.edit-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform ease 0.3s;
}

.delete-button {
  background-color: #da0d13;

  border: none;
  border-radius: 15px;
  padding: 10px;
}

.delete-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform ease 0.3s;
}

.actions {
  display: flex;
  gap: 10px;
}

#edit-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2c2c2c;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  z-index: 9999;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-container input {
  padding: 5px;
  background-color: transparent;
  border: 2px solid #161616;
  border-radius: 8px;
}

.frequency-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.frequency-container p {
  padding-bottom: 5px;
}

.frequency-selection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.due-container {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.due-container input {
  padding: 5px;
  background-color: transparent;
  border: 2px solid #161616;
  border-radius: 8px;
}

#add-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3); /* dark tint */
  backdrop-filter: blur(10px); /* <-- blur everything behind */

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9998; /* just under your modal */
}

.submit-button {
  background-color: #da0d13;
  border: none;
  border-radius: 8px;
  padding: 6px;
}

.submit-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#cancel-submit {
  background-color: #da0d13;
  border: none;
  border-radius: 8px;
  padding: 6px;
}

#cancel-submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
